# Dependencies
node_modules

# Build output
dist
dist-server

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
*~
*.sw[p_]
*.idea
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
